{% extends 'vacancies/base.html' %}

{% block container %}

  <main class="container mt-3">
    <div class="navbar mt-5">
      <p><a href="#">Назад</a></p>
    </div>
    <section>
      <div class="text-center">
        <img src="{{ logo }}/130x80" width="130" height="80" alt="">
      </div>
      <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;"><strong>{{ name }}</strong></h1>
      <p class="text-center pt-1">{{ location }}, {{ total }} positions</p>
      {% include 'vacancies/positions_list.html' %}
    </section>
  </main>

{% endblock %}
