
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% for vac in vacancies %}
          <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <h2 class="h2 pb-2"><a href="/vacancy/{{ vac.id }}"/> {{ vac.title }}</a></h2>
                  <p class="mb-2"><b>{{ vac.specialty.title }} </b>{{ vac.skills }}</p>
                  <p>$ {{ vac.salary_min }} ... {{ vac.salary_max }} rub.</p>
                  <p class="text-muted pt-1">{{ vac.date }}</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a href="/company/{{ vac.company.name }}"><img src="{{ vac.company.logo }}" width="150" height="70" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
