<!DOCTYPE html>
{% extends 'vacancies/base.html' %}

{% block container %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="#">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href="/company/{{object.company.name}}"><img src="{{ object.company.logo }}" width="150" height="70" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold" >{{ object.title }}</h1>
            <p class="m-0 pl-3">$ {{ object.salary_min }} – {{ object.salary_max }} rub.</p>
          </div>
          <p class="mt-2"><b>{{ object.specialty.title }}</b> • {{ object.skills }} </p>
          <p class="text-muted mb-4">{{ company_name }}</p>
          <div style="line-height: 1.8;">
            {{ text|safe }}
          </div>
          <form action="/echo" class="card mt-4 mb-3" enctype="multipart/form-data">
            <div class="card-body mx-3">
              <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
              <div class="form-group">
                <label class="mb-1 mt-2" for="userName">Вас зовут</label>
                <input class="form-control" type="text" placeholder="" id="userName">
              </div>
              <div class="form-group">
                <label class="mb-1" for="userPhone">Ваш телефон</label>
                <input class="form-control" type="tel" placeholder="" id="userPhone">
              </div>
              <div class="form-group">
                <label class="mb-1" for="userMsg" >Сопроводительное письмо</label>
                <textarea class="form-control" rows="8" id="userMsg"></textarea>
              </div>
              <input type="submit" class="btn btn-primary mt-4 mb-2" value="Записаться на пробный урок">
            </div>
          </form>
        </section>
      </div>
    </div>
  </main>

{% endblock %}
